@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<h1>@Umbraco.Field("homepagetitle")</h1>
	<p>@Umbraco.Field("homepagecontents")</p>
	<p>@Umbraco.RenderMacro("RenderCompletedProjects")</p>