@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<h1>@Umbraco.Field("projectsMainTitle")</h1>
	<p>@Umbraco.Field("projectsMainContents")</p>
	@Umbraco.RenderMacro("listProjects")