@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
var memberService =
ApplicationContext.Current.Services.MemberService;
var members = memberService.GetMembersByGroup("Active");
}

@foreach (var member in members)
{
<p>
@(member.GetValue("firstname") + " "
+ member.GetValue("lastname")) <br/>
@member.GetValue("address")<br />
@(member.GetValue("zip") + " "
+ member.GetValue("city"))<br />

</p>
}