@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h1>@Umbraco.Field("contactpagetitle")</h1>
	<p>@Umbraco.Field("contactpagecontent")</p>
	@Html.Action("Index", "ContactFormSurface")