@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container">
<h1>Active members</h1>
@Umbraco.RenderMacro("generateMembersList")
	
	<h1>Prospects</h1>
	@Umbraco.RenderMacro("generateProspectsList")
	</div>