@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<h1>@Umbraco.Field("projectstitle")</h1>
	<p>@Umbraco.Field("projectscontent")</p>
	@Umbraco.RenderMacro("listProjects")